In [2]:
import sqlite3 as sq

In [18]:
conn = sq.connect('../static/db/project.db')
cur = conn.cursor()

sql = '''CREATE TABLE "bbs" (
	"bid"	INTEGER NOT NULL,
	"uid"	TEXT NOT NULL,
	"title"	TEXT NOT NULL,
	"name"	TEXT NOT NULL,
	"date"	TEXT NOT NULL,
	"review"	INTEGER NOT NULL DEFAULT 0,
	"reply"	INTEGER NOT NULL DEFAULT 0,
	"img_cnt"	INTEGER NOT NULL DEFAULT 0,
	"contents"	TEXT NOT NULL,
	PRIMARY KEY("bid" AUTOINCREMENT)
)'''
cur.execute(sql)
conn.commit()

cur.close()
conn.close()

In [27]:
conn = sq.connect('../static/db/project.db')
cur = conn.cursor()

sql = 'insert into bbs(uid, title, name, date, contents) values (?, ?, ?, ?, ?);' 
cur.execute(sql, ('smpet', '제목1', 'smpet', '2020-04-01 00:00:00', 'content1'))
conn.commit() 

cur.close()
conn.close()

In [29]:
conn = sq.connect('../static/db/project.db')
cur = conn.cursor()

cur.executemany(
    'INSERT INTO bbs(uid, title, name, date, contents) VALUES (?, ?, ?, ?, ?)',
    [
     ('Donghyun1', 'SOMJANG', 'Development', '2020-04-01 00:00:00', 'content1'),
     ('Sol1', 'Fairy', 'Marketing', '2020-04-01 00:00:00', 'content2'),
     ('Jiyoung1', 'Magician', 'Marketing', '2020-04-01 00:00:00', 'content3'),
     ('Hyeona1', 'Theif', 'Development', '2020-04-01 00:00:00', 'content4'),
     ('Soyoung1', 'Chief', 'Development', '2020-04-01 00:00:00', 'content5'),
     ('Donghyun1', 'SOMJANG', 'Development', '2020-04-01 00:00:00', 'content1'),
     ('Sol1', 'Fairy', 'Marketing', '2020-04-01 00:00:00', 'content2'),
     ('Jiyoung1', 'Magician', 'Marketing', '2020-04-01 00:00:00', 'content3'),
     ('Hyeona1', 'Theif', 'Development', '2020-04-01 00:00:00', 'content4'),
     ('Soyoung1', 'Chief', 'Development', '2020-04-01 00:00:00', 'content5'),
     ('Donghyun1', 'SOMJANG', 'Development', '2020-04-01 00:00:00', 'content1'),
     ('Sol1', 'Fairy', 'Marketing', '2020-04-01 00:00:00', 'content2'),
     ('Jiyoung1', 'Magician', 'Marketing', '2020-04-01 00:00:00', 'content3'),
     ('Hyeona1', 'Theif', 'Development', '2020-04-01 00:00:00', 'content4'),
     ('Soyoung1', 'Chief', 'Development', '2020-04-01 00:00:00', 'content5'),
     ('Donghyun1', 'SOMJANG', 'Development', '2020-04-01 00:00:00', 'content1'),
     ('Sol1', 'Fairy', 'Marketing', '2020-04-01 00:00:00', 'content2'),
     ('Jiyoung1', 'Magician', 'Marketing', '2020-04-01 00:00:00', 'content3'),
     ('Hyeona1', 'Theif', 'Development', '2020-04-01 00:00:00', 'content4'),
     ('Soyoung1', 'Chief', 'Development', '2020-04-01 00:00:00', 'content5'),
     ('Donghyun1', 'SOMJANG', 'Development', '2020-04-01 00:00:00', 'content1'),
     ('Sol1', 'Fairy', 'Marketing', '2020-04-01 00:00:00', 'content2'),
     ('Jiyoung1', 'Magician', 'Marketing', '2020-04-01 00:00:00', 'content3'),
     ('Hyeona1', 'Theif', 'Development', '2020-04-01 00:00:00', 'content4'),
     ('Soyoung1', 'Chief', 'Development', '2020-04-01 00:00:00', 'content5'),
     ('Donghyun1', 'SOMJANG', 'Development', '2020-04-01 00:00:00', 'content1'),
     ('Sol1', 'Fairy', 'Marketing', '2020-04-01 00:00:00', 'content2'),
     ('Jiyoung1', 'Magician', 'Marketing', '2020-04-01 00:00:00', 'content3'),
     ('Hyeona1', 'Theif', 'Development', '2020-04-01 00:00:00', 'content4'),
     ('Soyoung1', 'Chief', 'Development', '2020-04-01 00:00:00', 'content5'),
     ('Donghyun1', 'SOMJANG', 'Development', '2020-04-01 00:00:00', 'content1'),
     ('Sol1', 'Fairy', 'Marketing', '2020-04-01 00:00:00', 'content2'),
     ('Jiyoung1', 'Magician', 'Marketing', '2020-04-01 00:00:00', 'content3'),
     ('Hyeona1', 'Theif', 'Development', '2020-04-01 00:00:00', 'content4'),
     ('Soyoung1', 'Chief', 'Development', '2020-04-01 00:00:00', 'content5'),
     ('Donghyun1', 'SOMJANG', 'Development', '2020-04-01 00:00:00', 'content1'),
     ('Sol1', 'Fairy', 'Marketing', '2020-04-01 00:00:00', 'content2'),
     ('Jiyoung1', 'Magician', 'Marketing', '2020-04-01 00:00:00', 'content3'),
     ('Hyeona1', 'Theif', 'Development', '2020-04-01 00:00:00', 'content4'),
     ('Soyoung1', 'Chief', 'Development', '2020-04-01 00:00:00', 'content5'),
     ('Donghyun1', 'SOMJANG', 'Development', '2020-04-01 00:00:00', 'content1'),
     ('Sol1', 'Fairy', 'Marketing', '2020-04-01 00:00:00', 'content2'),
     ('Jiyoung1', 'Magician', 'Marketing', '2020-04-01 00:00:00', 'content3'),
     ('Hyeona1', 'Theif', 'Development', '2020-04-01 00:00:00', 'content4'),
     ('Soyoung1', 'Chief', 'Development', '2020-04-01 00:00:00', 'content5')
    ]
)
conn.commit() 

cur.close()
conn.close()

In [38]:
conn = sq.connect('../static/db/project.db')
cur = conn.cursor()

sql = 'select count(*) from bbs '
cur.execute(sql)
row = cur.fetchone()

cur.close()
conn.close()

print(row[0])

51

In [13]:
conn = sq.connect('../static/db/project.db')
cur = conn.cursor()

offset = 10
sql = 'select * from bbs LIMIT 10 offset ?'
cur.execute(sql, (offset, ))
rows = cur.fetchall()

cur.close()
conn.close()

for row in rows:
    print(row)

(13, 'Soyoung1', 'Development', 'Chief', '2020-04-01 00:00:00', 0, 0, 0, 'content5')
(14, 'Donghyun1', 'Development', 'SOMJANG', '2020-04-01 00:00:00', 0, 0, 0, 'content1')
(15, 'Sol1', 'Marketing', 'Fairy', '2020-04-01 00:00:00', 0, 0, 0, 'content2')
(16, 'Jiyoung1', 'Marketing', 'Magician', '2020-04-01 00:00:00', 0, 0, 0, 'content3')
(17, 'Hyeona1', 'Development', 'Theif', '2020-04-01 00:00:00', 0, 0, 0, 'content4')
(18, 'Soyoung1', 'Development', 'Chief', '2020-04-01 00:00:00', 0, 0, 0, 'content5')
(19, 'Donghyun1', 'Development', 'SOMJANG', '2020-04-01 00:00:00', 0, 0, 0, 'content1')
(20, 'Sol1', 'Marketing', 'Fairy', '2020-04-01 00:00:00', 0, 0, 0, 'content2')
(21, 'Jiyoung1', 'Marketing', 'Magician', '2020-04-01 00:00:00', 0, 0, 0, 'content3')
(22, 'Hyeona1', 'Development', 'Theif', '2020-04-01 00:00:00', 0, 0, 0, 'content4')