### 3. 고급 인덱싱

In [1]:
import numpy as np 
import pandas as pd

In [2]:
df = pd.DataFrame(np.arange(10, 22).reshape(3, 4), 
                   index=['X', 'Y', 'Z'],
                   columns=['A', 'B', 'C', 'D'])
df

    A   B   C   D
X  10  11  12  13
Y  14  15  16  17
Z  18  19  20  21

#### 3.1 loc 인덱서

- 인수가 한 개인 경우: 행 선택

In [3]:
df.loc['Y'] # 행을 시리즈로 출력

A    14
B    15
C    16
D    17
Name: Y, dtype: int32

In [4]:
df.loc['X':'Y']

    A   B   C   D
X  10  11  12  13
Y  14  15  16  17

In [5]:
df['X':'Y']

    A   B   C   D
X  10  11  12  13
Y  14  15  16  17

In [6]:
df.A > 15

X    False
Y    False
Z     True
Name: A, dtype: bool

In [7]:
df[df.A > 15]

    A   B   C   D
Z  18  19  20  21

- 인수가 두 개인 경우

In [8]:
df.loc['Y', 'B']    # 행 인덱스, 열 인덱스

15

In [9]:
df.loc['Y':'Z', 'B':'C']

    B   C
Y  15  16
Z  19  20

#### 3.2 iloc인덱서

In [10]:
df

    A   B   C   D
X  10  11  12  13
Y  14  15  16  17
Z  18  19  20  21

In [11]:
df.iloc[1]      # 'Y' 행, 인덱스 값은 1

A    14
B    15
C    16
D    17
Name: Y, dtype: int32

In [12]:
df.iloc[:2]     # 숫자니까 행 인덱스 값 2는 포함되지 않는다.

    A   B   C   D
X  10  11  12  13
Y  14  15  16  17

In [13]:
df.iloc[1, 1]

15

- 연습 문제 4.3.1
    - 모든 행과 열에 라벨을 가지는  5 x 5 이상의 크기를 가지는 데이터프레임
    - 10가지 이상의 방법으로 특정한 행과 열을 선택한다

In [14]:
df = pd.DataFrame(np.arange(50, 75).reshape(5, 5),
                  index=list('ABCDE'),
                  columns='C1 C2 C3 C4 C5'.split())
df

   C1  C2  C3  C4  C5
A  50  51  52  53  54
B  55  56  57  58  59
C  60  61  62  63  64
D  65  66  67  68  69
E  70  71  72  73  74

In [38]:
df.C3.C, df.C3['C'], df['C3']['C'], df['C3'].C, df['C3'][2]

(62, 62, 62, 62, 62)

In [33]:
df.loc['C']['C3'], df.loc['C', 'C3'], df.loc['C'].C3, df.loc['C'][2]

(62, 62, 62, 62)

In [37]:
df.iloc[2,2], df.iloc[-3, -3], df.iloc[2][2], df.iloc[2]['C3'], df.iloc[2].C3

(62, 62, 62, 62, 62)