### World DAO를 이용한 DB Access

In [1]:
import world_dao as wd
import pandas as pd

- R: Retrieve/Read

In [2]:
rows = wd.get_citylist_by_country('KOR', 10)
df = pd.DataFrame(rows, columns=['id', 'name', 'country_code', 'district', 'population'])
df.set_index('id', inplace=True)
df

         name country_code      district  population
id
2331    Seoul          KOR         Seoul    10000000
2332    Pusan          KOR         Pusan     3804522
2333   Inchon          KOR        Inchon     2559424
2334    Taegu          KOR         Taegu     2548568
2335   Taejon          KOR        Taejon     1425835
2336  Kwangju          KOR       Kwangju     1368341
2340    Suwon          KOR       Kyonggi     1200000
2337    Ulsan          KOR  Kyongsangnam     1084891
2338  Songnam          KOR       Kyonggi      869094
2339   Puchon          KOR       Kyonggi      779412

In [3]:
row = wd.get_city_by_name('Suwon')
row

(2340, 'Suwon', 'KOR', 'Kyonggi', 1200000)

- C: Create

In [16]:
params = ('노드JS', 'KOR', 'Kyonggi', 6000000)
wd.insert_city(params)

- U: Update

In [21]:
row = wd.get_city_by_name('노드JS')
print(row)
parmas = [row[1], row[2], row[3], row[4], row[0]]
parmas[3] = 730000
wd.update_city(parmas)

(5015, '노드JS', 'KOR', '740000', 740000)

- D: Delete

In [23]:
row = wd.get_city_by_name('노드JS')
wd.delete_city(row[0])