### SQLite3 활용

In [1]:
import sqlite3 as sq

- DB에 접속해서 데이터 읽기

In [2]:
# member table에 있는 데이터 모두 읽기
conn = sq.connect('Test.db')
cur = conn.cursor()

sql = 'select * from member;'
cur.execute(sql)
rows = cur.fetchall()

cur.close()
conn.close()

In [4]:
for row in rows:
    print(row)

(1, 'james', 1)
(2, 'maria', 2)
(3, '홍길동', 1)

In [5]:
# 남자만 가져오기
conn = sq.connect('Test.db')
cur = conn.cursor()

sql = 'select * from member where gender=1;'
cur.execute(sql)
rows = cur.fetchall()

cur.close()
conn.close()

for row in rows:
    print(row)

(1, 'james', 1)
(3, '홍길동', 1)

In [6]:
def get_members_by_gender(gender):
    conn = sq.connect('Test.db')
    cur = conn.cursor()

    sql = 'select * from member where gender=?;'
    cur.execute(sql, (gender,))    # parameter는 반드시 tuple 형태라야 함
    rows = cur.fetchall()

    cur.close()
    conn.close()

    return rows

In [12]:
results = get_members_by_gender(1)
for row in results:
    print(row)

(1, 'james', 1)
(3, '홍길동', 1)

In [13]:
# mid에 해당하는 데이터 한 건만 가져오기
def get_member_by_mid(mid):
    conn = sq.connect('Test.db')
    cur = conn.cursor()

    sql = 'select * from member where mid=?;'
    cur.execute(sql, (mid,))    # parameter는 반드시 tuple 형태라야 함
    row = cur.fetchone()        # 한건의 데이터만 가져오는 경우에는 fetchone() 사용

    cur.close()
    conn.close()

    return row

In [16]:
result = get_member_by_mid(1)
print(result[0], result[1], result[2])

1 james 1

- 데이터 추가하기

In [18]:
def insert_member(params): 
    conn = sq.connect('Test.db')
    cur = conn.cursor()

    sql = 'insert into member(mname, gender) values (? , ?);'
    cur.execute(sql, params)    # params는 tuple로
    conn.commit()               # DB 내용을 변경하는 경우에는 반드시 commit()을 해주어야 함

    cur.close()
    conn.close()

In [19]:
params = ('차정숙', 2)
insert_member(params)
results = get_members_by_gender(2)
for row in results:
    print(row)

(2, 'maria', 2)
(4, '차정숙', 2)

- 데이터 수정

In [20]:
def update_member(params): 
    conn = sq.connect('Test.db')
    cur = conn.cursor()

    sql = 'update member set mname=?, gender=? where mid=?'
    cur.execute(sql, params)
    conn.commit()           

    cur.close()
    conn.close()

In [21]:
params = ('test', 1)
insert_member(params)

In [22]:
result = get_member_by_mid(5)
result

(5, 'test', 1)

In [23]:
params = ('test2', 2, 5)
update_member(params)   # 파라메터 순서에 주의할 것

In [25]:
result = get_members_by_gender(2)
result

[(2, 'maria', 2), (4, '차정숙', 2), (5, 'test2', 2)]

- 데이터 삭제

In [26]:
def delete_member(mid):
    conn = sq.connect('Test.db')
    cur = conn.cursor()

    sql = 'delete from member where mid=?'
    cur.execute(sql, (mid,))
    conn.commit()           

    cur.close()
    conn.close()

In [27]:
delete_member(5)
get_members_by_gender(2)

[(2, 'maria', 2), (4, '차정숙', 2)]