### DAO를 이용하여 데이터를 활용하기

In [1]:
import member_dao as mdao

In [5]:
rows = mdao.get_members()
for row in rows:
    print(f'mid: {row[0]}, mname: {row[1]}, gender: {row[2]}')

mid: 1, mname: james, gender: 1
mid: 2, mname: maria, gender: 2
mid: 3, mname: 홍길동, gender: 1
mid: 4, mname: 차정숙, gender: 2
mid: 6, mname: 테스트, gender: 1

In [4]:
# name = request.form['name']
# gender = request.form['gender']

name, gender = '테스트', 1
params = (name, gender)
mdao.insert_member(params)

In [6]:
row = mdao.get_member_by_mid(6)
row

(6, '테스트', 1)

In [7]:
params = ('테스트2', 2, 6)
mdao.update_member(params)
rows = mdao.get_members()
for row in rows:
    print(f'mid: {row[0]}, mname: {row[1]}, gender: {row[2]}')

mid: 1, mname: james, gender: 1
mid: 2, mname: maria, gender: 2
mid: 3, mname: 홍길동, gender: 1
mid: 4, mname: 차정숙, gender: 2
mid: 6, mname: 테스트2, gender: 2

In [8]:
mdao.delete_member(6)
rows = mdao.get_members()
for row in rows:
    print(f'mid: {row[0]}, mname: {row[1]}, gender: {row[2]}')

mid: 1, mname: james, gender: 1
mid: 2, mname: maria, gender: 2
mid: 3, mname: 홍길동, gender: 1
mid: 4, mname: 차정숙, gender: 2