### 230414 데이터프레임 과제

1. cctv 데이터를 다음과 같이 만들어 cctv.csv 파일에 저장하세요.

   ​       구별    CCTV댓수  최근증가율

        1 종로구 1715         20.69

        2 중구    2447         78.98

        3 용산구 2611          78.64

              ...

​

- 첫번째 행인 계는 삭제한다.

- 최근증가율은 최근 3개년간의 CCTV 댓수의 합을 그 이전 모든 년도의 CCTV 댓수의 합으로 나눈 값으로 백분율 값이다.​

- 구별은 기존의 구분 열을 CCTV댓수는 기존의 총계 열을 이름만 변경한 것이다.

In [140]:

import numpy as np
import pandas as pd

In [141]:
columns = '구분,총계,2013년 이전 설치된 CCTV,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년,2022년'.split(',')
seoul_cctv = pd.read_csv('data/서울시 자치구 년도별 CCTV 설치 현황_221231기준.csv', encoding='euc-kr', usecols=columns, thousands=',')
seoul_cctv.drop(0, inplace=True)
# cctv = cctv_seoul.iloc[1:]  # 슬라이스로 해도 된다.

In [142]:
seoul_cctv.head()

,구분,총계,2013년 이전 설치된 CCTV,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년,2022년
1,종로구,1980,36,540,107,161,131,158,152,69,250,85,291
2,중 구,2584,130,87,77,236,240,372,386,155,361,403,137
3,용산구,2847,44,50,68,83,295,491,115,322,623,422,334
4,성동구,4047,58,99,110,366,279,945,459,647,485,367,232
5,광진구,3480,507,82,84,64,21,465,443,709,172,662,271

In [143]:
seoul_cctv['최근증가율'] = seoul_cctv.apply(lambda x: round(x['2020년':'2022년'].sum() \
                                                  / x['2013년 이전 설치된 CCTV':'2019년'].sum() \
                                                  * 100, 2), axis=1)

In [144]:
cctv = seoul_cctv[['구분', '총계', '최근증가율']]

In [145]:
cctv.columns = [['구별', 'CCTV댓수', '최근증가율']]
cctv

      구별 CCTV댓수   최근증가율
1    종로구   1980   46.23
2    중 구   2584   53.54
3    용산구   2847   93.94
4    성동구   4047   36.58
5    광진구   3480   46.53
6   동대문구   2759   34.19
7    중랑구   4193   73.55
8    성북구   4842   25.96
9    강북구   3321  100.42
10   도봉구   2247  155.92
11   노원구   2617   40.85
12   은평구   4653   37.99
13  서대문구   3445   58.68
14   마포구   2628   29.08
15   양천구   3851   36.13
16   강서구   3265   70.76
17   구로구   4693   50.66
18   금천구   2636   60.83
19  영등포구   4553   81.54
20   동작구   2671   44.07
21   관악구   5398   26.12
22   서초구   4995   59.53
23   강남구   7243   35.69
24   송파구   3203   28.79
25   강동구   3190   74.79

In [146]:
cctv.to_csv('data/cctv.csv', index=False)

In [147]:
cctv = pd.read_csv('data/cctv.csv')
cctv.head()

    구별  CCTV댓수  최근증가율
0  종로구    1980  46.23
1  중 구    2584  53.54
2  용산구    2847  93.94
3  성동구    4047  36.58
4  광진구    3480  46.53

2. 서울시 인구 데이터를 다음과 같이 만들어 pop.csv 파일에 저장하세요.


        구별     인구수  내국인  외국인  고령자  외국인비율  고령자비율

      1 종로구   153789   144683    9106    27818   5.92           18.09

      2 중구     131787   122499    9288    24392   7.05           18.51

      3 용산구   237285   222953    14332   39070   6.04           16.47

- 첫번째 행인 합계는 삭제한다.

- 외국인비율은 외국인 수를 총 인구수로 나눈 백분율 값이다.

- 고령자비율은 65세 이상 인구 수를 총 인구수로 나눈 백분율 값이다.

In [148]:
seoul_pop = pd.read_csv('data/서울시인구.txt', sep='\t', skiprows=(0, 3), header=[0,1], thousands=',')
seoul_pop.head()

     기간  자치구      세대      합계                     한국인                  등록외국인  \
     기간  자치구      세대       계      남자      여자       계      남자      여자      계
0  2021  종로구   73494  153789   74186   79603  144683   70183   74500   9106
1  2021   중구   63519  131787   64083   67704  122499   59630   62869   9288
2  2021  용산구  111036  237285  115085  122200  222953  107210  115743  14332
3  2021  성동구  134233  292672  142259  150413  285990  139380  146610   6682
4  2021  광진구  167949  352627  169317  183310  339996  164058  175938  12631

              세대당인구 65세이상고령자
     남자    여자 세대당인구 65세이상고령자
0  4003  5103  1.97    27818
1  4453  4835  1.93    24392
2  7875  6457  2.01    39070
3  2879  3803  2.13    46380
4  5259  7372  2.02    51723

In [149]:
seoul_columns = '구별 인구수 내국인 외국인 고령자'.split()
pop = seoul_pop[[('자치구', '자치구'), ('합계', '계'), ('한국인','계'), ('등록외국인', '계'), ('65세이상고령자', '65세이상고령자')]].copy(True)
# pop = seoul_pop.iloc[:, [1, 3, 6, 9, 13] ].copy(True) # 인덱스로도 각각 가져 올 수 있다.

pop.columns = seoul_columns
pop.head()

    구별     인구수     내국인    외국인    고령자
0  종로구  153789  144683   9106  27818
1   중구  131787  122499   9288  24392
2  용산구  237285  222953  14332  39070
3  성동구  292672  285990   6682  46380
4  광진구  352627  339996  12631  51723

In [150]:
pop['외국인비율'] = pop.apply(lambda x: round(x['외국인']/x['인구수'] * 100, 2), axis=1) 
pop['고령자비율'] = pop.apply(lambda x: round(x['고령자']/x['인구수'] * 100, 2), axis=1) 
pop.head()

    구별     인구수     내국인    외국인    고령자  외국인비율  고령자비율
0  종로구  153789  144683   9106  27818   5.92  18.09
1   중구  131787  122499   9288  24392   7.05  18.51
2  용산구  237285  222953  14332  39070   6.04  16.47
3  성동구  292672  285990   6682  46380   2.28  15.85
4  광진구  352627  339996  12631  51723   3.58  14.67

In [151]:
pop.to_csv('data/pop.csv', index=False)

In [152]:
pop = pd.read_csv('data/pop.csv')
pop

      구별     인구수     내국인    외국인    고령자  외국인비율  고령자비율
0    종로구  153789  144683   9106  27818   5.92  18.09
1     중구  131787  122499   9288  24392   7.05  18.51
2    용산구  237285  222953  14332  39070   6.04  16.47
3    성동구  292672  285990   6682  46380   2.28  15.85
4    광진구  352627  339996  12631  51723   3.58  14.67
5   동대문구  352006  337400  14606  62211   4.15  17.67
6    중랑구  391885  387350   4535  71682   1.16  18.29
7    성북구  440142  430528   9614  74709   2.18  16.97
8    강북구  302563  299182   3381  64333   1.12  21.26
9    도봉구  319373  317366   2007  64160   0.63  20.09
10   노원구  514946  510956   3990  88345   0.77  17.16
11   은평구  477173  473307   3866  87241   0.81  18.28
12  서대문구  315659  304819  10840  54268   3.43  17.19
13   마포구  378686  368905   9781  54582   2.58  14.41
14   양천구  450487  447302   3185  68627   0.71  15.23
15   강서구  579768  574315   5453  92558   0.94  15.96
16   구로구  421163  396754  24409  72611   5.80  17.24
17   금천구  244891  230811  14080  41041   5.75  16.76
18  영등포구  400908  376837  24071  62516   6.00  15.59
19   동작구  394364  385483   8881  66613   2.25  16.89
20   관악구  499449  485699  13750  79871   2.75  15.99
21   서초구  416167  412279   3888  60678   0.93  14.58
22   강남구  537800  533042   4758  78226   0.88  14.55
23   송파구  663965  658338   5627  97691   0.85  14.71
24   강동구  466472  462664   3808  74070   0.82  15.88